<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>compare certain dataset</title>
    <link rel="stylesheet" href="../static/bootstrap.css"  th:href="@{/bootstrap.css}" />
</head>
<body>
<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <h3 class="align-content-center">journal for dataset</h3>
            <a class="navbar-brand" href="/">Home</a>
        </div>
    </nav>

</header>

<table class="table">
    <thead>
    <tr>
        <th>first name</th>
        <th>surname</th>
        <th>birthday</th>
        <th>email</th>
        <th>contact ID</th>
        <th>insurance</th>
        <th>phone number</th>
        <th>private insured?</th>
        <th>last invoice</th>
    </tr>
    </thead>
    <tbody>
    <tr bgcolor="#cbedc7">
        <td th:text="${patient.contactFirstName}">first name</td>
        <td th:text="${patient.contactLastName}">surname</td>
        <td th:text="${patient.birthday}">birthday</td>
        <td th:text="${patient.email}">email</td>
        <td th:text="${patient.contact}">contact ID</td>
        <td th:text="${patient.insurance}">insurance</td>
        <td th:text="${patient.contactPhone}">phone number</td>
        <td th:text="${patient.privateInsurance}">private insured?</td>
        <td th:text="${patient.lastInvoice}">last invoice</td>
    </tr>
    <tr bgcolor="#ff7f50">
        <td th:text="${patientAnonym.contactFirstName}">firt name</td>
        <td th:text="${patientAnonym.contactLastName}">surname</td>
        <td th:text="${patientAnonym.birthday}">birthday</td>
        <td th:text="${patientAnonym.email}">email</td>
        <td th:text="${patientAnonym.contact}">contact ID</td>
        <td th:text="${patientAnonym.insurance}">insurance</td>
        <td th:text="${patientAnonym.contactPhone}">phone number</td>
        <td th:text="${patientAnonym.privateInsurance}">private insured?</td>
        <td th:text="${patientAnonym.lastInvoice}">last invoice</td>
    </tr>
    <tr bgcolor="#2ECCFA">
        <td th:text="${results.firstName}">first name</td>
        <td th:text="${results.surname}">surname</td>
        <td th:text="${results.birthday}">birthday</td>
        <td th:text="${results.email}">email</td>
        <td th:text="${results.contact}">contact ID</td>
        <td th:text="${results.insurance}">insurance</td>
        <td th:text="${results.phoneNumber}">phone number</td>
        <td th:text="${results.privateInsurance}">private insured?</td>
        <td th:text="${results.lastInvoiceTotal}">last invoice</td>
    </tr>
    </tbody>
</table>
<a th:href="@{/findTheMostLikely(pid=${patient.id})}">find the most similar dataset</a>
</body>
</html>