<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Validator Service</title>
    <link rel="stylesheet" href="../static/bootstrap.css"  th:href="@{/bootstrap.css}" />
</head>
<body>
<header>
    <div class="container-fluid">
        <h2>Validator Service</h2>
    </div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <a class="navbar-light" href="compare.html">compare all data</a>
        </div>
    </nav>
     <a href="/test">settings </a>

</header>


<form action="#" th:action="@{/compareSelected}" th:object="${selection}" method="post">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>first name</th>
            <th>surname</th>
            <th>birthday</th>
            <th>email</th>
            <th>contact ID</th>
            <th>insurance</th>
            <th>phone number</th>
            <th>private insured?</th>
            <th>last invoice</th>
        </tr>
        </thead>
        <tbody>
    <tr th:each="patient: ${Patient}">
        <td th:text="${patient.contactFirstName}">first name</td>
        <td th:text="${patient.contactLastName}">surname</td>
        <td th:text="${patient.birthday}">birthday</td>
        <td th:text="${patient.email}">email</td>
        <td th:text="${patient.id}">contact ID</td>
        <td th:text="${patient.contact}">insurance</td>
        <td th:text="${patient.contactPhone}">phone number</td>
        <td th:text="${patient.privateInsurance}">private insured?</td>
        <td th:text="${patient.lastInvoice}">last invoice</td>
        <td><input type="checkbox" id="pid" name="pid" th:value="${patient.id}"/></td>
    </tr>
    </tbody>
    </table>
    <button th:type="submit">compare selection</button>
</form>


<table class="table table-striped">
    <thead>
    <tr>
        <th>first name</th>
        <th>surname</th>
        <th>birthday</th>
        <th>email</th>
        <th>contact ID</th>
        <th>insurance</th>
        <th>phone number</th>
        <th>private insured?</th>
        <th>last invoice</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="patient: ${Patient_anonym}">
        <td th:text="${patient.contactFirstName}">first name</td>
        <td th:text="${patient.contactLastName}">surname</td>
        <td th:text="${patient.birthday}">birthday</td>
        <td th:text="${patient.email}">email</td>
        <td th:text="${patient.contact}">contact ID</td>
        <td th:text="${patient.insurance}">insurance</td>
        <td th:text="${patient.contactPhone}">phone number</td>
        <td th:text="${patient.privateInsurance}">private insured?</td>
        <td th:text="${patient.lastInvoice}">last invoice</td>
    </tr>
    </tbody>
</table>


</body>
</html>
