<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Sigma Einstellung für unterschiedlichen Datentypen</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Sigma Werte eingeben und Submit klicken</h1>
    <form action="#" th:action="@{/test}" th:object="${sigma}" method="post">
    	<p>Sigma für double: <input type="text" th:field="*{wert}" onblur="checkValue('wert')" /></p>
        <p>Sigma für Tage: <input type="text" th:field="*{tagewert}" onblur="checkValue('tagewert')"/></p>
        <p>Sigma für Monate: <input type="text" th:field="*{monatewert}" onblur="checkValue('monatewert')" /></p>
        <p>Sigma für string length: <input type="text" th:field="*{strl}" onblur="checkValue('strl')"/></p>
        <p>Sigma für string distribution: <input type="text" th:field="*{strd}" onblur="checkValue('strd')"/></p>
        <p>Sigma für string order: <input type="text" th:field="*{stro}" onblur="checkValue('stro')"/></p>
        <p id ="errorField"></p>

        <ul>
            <li th:each="sigmaOptions : *{possibleComparer}">
                <input type="radio" th:field="*{Strcmp2}" th:value="${sigmaOptions}" />
                <label th:for="${#ids.prev('Strcmp2')}" th:text="${sigmaOptions}">StringComparer</label>
            </li>
        </ul>

        <p><input type="submit" value="Submit" id="submitButton"/> <input type="reset" value="Reset" /></p>
    </form>
    <script>
        var errorCount = 0;
        function checkValue(fieldName) {
            var field = document.getElementById(fieldName);
            if (field.value == 0.0 || field.value == 0){
                field.style.borderColor = "red";
                document.getElementById("errorField").innerHTML = "Illegal input, Sigma needs to be higher than 0.0"
                document.getElementById("errorField").style.color = "red";
                console.log("error coutn before higher:" + errorCount)

                errorCount += 1;
                document.getElementById("submitButton").disabled = true;
            }
            else {
                if (field.style.borderColor == "red"){
                    errorCount  -= 1;
                }
                field.style.borderColor = "green";
                if(errorCount == 0){
                    document.getElementById("errorField").innerHTML = "";
                    document.getElementById("submitButton").disabled = false;
                }
            }


        }
    </script>

</body>
</html>
