    <form action="/someUrl" method="GET">  
     Sigma für Integer: <input type="text" id="sigint" /><br/>  
     Sigma für Double: <input type="text" id="sigdoub" /><br/> 
     Sigma für String: <input type="text" id="sigstr" /><br/>  
     Sigma für Datum :  <input type="text" id="sigdatum" /><br/> 
     Sigma für Integerlength: <input type="text" id="sigintlength" /><br/> 
     Sigma für Bool:     <input type="text" id="sigbool" /><br/> 
      <input type="submit" value="Submit"/>  
    </form>  
