<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Sigma Einstellung für unterschiedlichen Datentypen</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Sigma Werte eingeben und Submit klicken</h1>
    <form action="#" th:action="@{/test}" th:object="${sigma}" method="post">
    	<p>Sigma für double: <input type="text" th:field="*{wert}" /></p>
        <p>Sigma für Tage: <input type="text" th:field="*{tagewert}" /></p>
        <p>Sigma für Monate: <input type="text" th:field="*{monatewert}" /></p>
        <p>Sigma für string length: <input type="text" th:field="*{strl}" /></p>
        <p>Sigma für string distribution: <input type="text" th:field="*{strd}" /></p>
        <p>Sigma für string order: <input type="text" th:field="*{stro}" /></p>


        <ul>
            <li th:each="sigmaOptions : *{possibleComparer}">
                <input type="radio" th:field="*{Strcmp2}" th:value="${sigmaOptions}" />
                <label th:for="${#ids.prev('Strcmp2')}" th:text="${sigmaOptions}">StringComparer</label>
            </li>
        </ul>

  <!--   LENGTH- DISTRIBUTION - ORDER
  <ul>
  <li th:each="sigma: ${alltypes}">
    <input type="radio"
        th:field="*{radioButtonSelectedValue}"
        th:value="${radioValue}" />
    <label
        th:for="${#ids.prev('radioButtonSelectedValue')}"
        th:text="${radioValue}"></label>
  </li>
</ul>
     -->




        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>
